@{
    ViewData["Title"] = "Головна";
}

<div class="text-center">
    <h1 class="display-4">CSRF Демо</h1>
    <p>
        <a asp-controller="Home" asp-action="Login">Увійти</a> •
        <a asp-controller="Home" asp-action="Profile">Профіль</a>
    </p>
</div>